<%
  sign_in_link = user_token_url(token: @user.login_token)
%>

<% content_for :title do %>
  <%= @course.name %>
<% end %>

<% content_for :subtitle do %>
  Você foi adicionado como autor em <%= @school.name %>.
<% end %>

<% content_for :title_button_text do %>
  Faça login para editar o curso
<% end %>

<% content_for(:title_button_link, sign_in_link) %>

<% content_for :salutation do %>
  Olá <%= @user.name %>,
<% end %>

<% content_for :body do %>
  <p>
  Você foi adicionado como autor no curso <strong> <%= @course.name%> </strong>, 
  em <%= @school.name%>. Isso dá a você a capacidade de usar a interface de administração da escola para editar 
  o conteúdo do curso e para <em> visualizar </em> o curso como um aluno.
  </p>

  <p>
    Use o link acima para entrar em <%= @school.name%> e ver o curso.
  </p>

  <%= render 'mailers/link_fallback', url: sign_in_link %>
<% end %>
