<%
  school_name = @school.name
  login_url = enroll_applicants_url(@applicant.login_token)
  course_name = @applicant.course.name
%>

<% content_for :title do %>
  Bem vindo(a) ao <%= course_name %>
<% end %>

<% content_for :subtitle do %>
  Use este <strong> link único </strong> para verificar seu endereço de e-mail e faça login em <%= school_name%>!
<% end %>

<% content_for :title_button_text do %>
  Ative sua conta e faça login
<% end %>

<% content_for(:title_button_link, login_url) %>

<% content_for :salutation do %>
  Olá,
<% end %>

<% content_for :body do %>
  <p>
  Para ativar sua conta <%= school_name%> e se inscrever no curso <%= course_name%>, verifique seu endereço de e-mail. 
  Clicar neste <strong> link único </strong> irá verificar seu endereço de e-mail e confirmar que deseja criar uma conta em <%= school_name%>.
  </p>

  <%= render 'mailers/link_fallback', url: login_url%>
<% end %>

<% content_for(:signature) do %>
  <div>
    <%= school_name %>
  </div>
<% end %>
