<%
  login_url = user_token_url(@url_options)
%>

<% content_for :title do %>
  Entre para <%= @school_name%>
<% end %>

<% content_for :subtitle do %>
  Este é um link único para fazer login no <%= @school_name%>
<% end %>

<% content_for :title_button_text do %>
  Entrar
<% end %>

<% content_for(:title_button_link, login_url) %>

<% content_for :salutation do %>
  Olá,
<% end %>

<% content_for :body do %>
  <p>
    Please <%= link_to 'clique aqui', login_url%> para entrar na sua conta <%= @school_name%>.
  </p>

  <%= render 'mailers/link_fallback', url: login_url%>

  <p>
    Observe que este é um URL privado e não deve ser compartilhado.
  </p>
<% end %>

<% content_for(:signature) do %>
  <div>
    <%= @school_name %>
  </div>
<% end %>
