<%
  sign_in_link = user_token_url(token: @coach.user.login_token)
%>

<% content_for :title do %>
  <%= @course.name %>
<% end %>

<% content_for :subtitle do %>
  Você foi adicionado como mentor em <%= @school.name%>.
<% end %>

<% content_for :title_button_text do %>
  Faça login para ver o curso
<% end %>

<% content_for(:title_button_link, sign_in_link) %>

<% content_for :salutation do %>
  Olá <%= @coach.name %>,
<% end %>

<% content_for :body do %>
  <p>
  Você foi adicionado como um mentor no curso <strong> <%= @course.name %> </strong>, 
  em <%= @school.name %>. Isso permite que você analise os envios dos alunos, atribua notas e forneça feedback sobre 
  a aprendizagem deles.
  </p>

  <p>
    Use o link acima para fazer login em <%= @school.name %> e ver os envios de seus alunos.
  </p>

  <%= render 'mailers/link_fallback', url: sign_in_link %>
<% end %>
