<%
  team_members = @student.startup.founders.where.not(id: @student.id).map(&:name).to_sentence
  sign_in_link = user_token_url(token: @student.user.login_token)
%>

<% content_for :title do %>
  <%= @course.name %>
<% end %>

<% content_for :subtitle do %>
  Você foi inscrito no curso em <%= @school.name %>.
<% end %>

<% content_for :title_button_text do %>
  Faça login para ver o curso
<% end %>

<% content_for(:title_button_link, sign_in_link) %>

<% content_for :salutation do %>
  Olá <%= @student.name %>,
<% end %>

<% content_for :body do %>
  <p>
    Você foi inscrito como aluno no curso <strong> <%= @course.name%> </strong>, em <%= @school.name%>.

    Agora você pode começar a sua aprendizagem em <%= @school.name%>.
  </p>

  <% if team_members.present? %>
    <p>
    Você também se juntou a <%= team_members%>; isso significa que espera-se que vocês trabalhem juntos para progredir neste curso.
    </p>
  <% end %>

  <%= render 'mailers/link_fallback', url: sign_in_link %>
<% end %>
